<!--The content below is only a placeholder and can be replaced.-->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/cliente']">Clientes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/pedido']">Crear Pedido <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Configuracion
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" [routerLink]="['/motivo']">Motivos</a>
        <a class="dropdown-item" [routerLink]="['/dedicatoria']">Dedicatorias</a>
        <a class="dropdown-item" [routerLink]="['/imagen/tarjeta']">Imagenes para tarjetas</a>
      </div>
    </div>
  </div>
  
</nav>
</header>
<router-outlet></router-outlet>
