<div class="container col-12">
  <div class="clearfix"></div>
  <div class="navbar-right" id="navbarTogglerDemo02">
    <form #buscarForm="ngForm" class="form-inline my-2 my-lg-0 pull-right">
      <h3 class="">{{titulo}}</h3>
      <input class="form-control mr-sm-2" name="searchString" [(ngModel)]="searchString" type="search" placeholder="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Buscar</button>
    </form>
  </div>
  <div class="navbar-right">
    <button type="button" (click)="porpagar()" class="btn btn-secondary btn-lg">Pedidos Por Pagar</button>
    <button type="button" (click)="porentregar()" class="btn btn-secondary btn-lg">Pedidos Por Entregar</button>
    <button type="button" [routerLink]="['/home']" class="btn btn-secondary btn-lg">Volver</button>
  </div>
	<hr>
	<div class="row ">
		<div class="col">
			<h4>Pedidos</h4>
			<div class="card myborder" ng-repeat="pedido in pedidos | orderBy : !pedido.entregado" *ngFor="let pedido of pedidos">
  				<div class="card-header"  [ngClass]="{'text-white bg-danger': pedido.entregado && !pedido.pago, 'text-white bg-success': !pedido.entregado && pedido.pago, 'text-white bg-primary mb-3': pedido.pago && pedido.entregado, 'text-white bg-warning': !pedido.entregado && !pedido.pago }">
    				<h5 class="d-inline">Fecha de entrega: {{  (pedido.fechaEntrega.timestamp + 86400)* 1000 | date:'dd/MM/yyyy' }} Hora de entrega: {{pedido.hora.timestamp * 1000 | date: 'HH:mm'}} </h5>
            <button type="button" class="btn btn-outline-info text-white" [ngClass]="{'disabled': pedido.pago}" (click)="setPagado(pedido.idpedido, true)">Pagado</button>
            <button type="button" class="btn btn-outline-info text-white" [ngClass]="{'disabled': pedido.entregado}" (click)="setEntregado(pedido.idpedido, true)">Entregado</button>
            
  				</div>
  				<div class="card-body">
    				<h5 class="card-title">para: {{pedido.para}}</h5>
    				<p class="card-text">de: {{pedido.de}}</p>
    				<p class="card-text">motivo: {{pedido.motivomotivo.nombre}}</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="getPedido(pedido.idpedido)">ver</button>
            <button type="button" class="btn btn-primary" (click)="imprimirRecibo(pedido.idpedido)">Imprimir Recibo</button>
            <button type="button" class="btn btn-primary" (click)="imprimirTarjeta(pedido.idpedido,pedido.motivomotivo.idmotivo)">Imprimir Tarjeta</button>
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg card">
                <div class="modal-content">
                  <div class="card-header text-white bg-info mb-3">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="card-title">Fecha y Hora de entrega: {{  (pedido2.fechaEntrega.timestamp + 86400) * 1000 | date:'dd/MM/yyyy' }} {{pedido2.hora.timestamp * 1000 | date: 'HH:mm'}} </h5>
                    <p class="card-title"> Nombre de Cliente: {{pedido2.clientecliente.nombre}} {{pedido2.clientecliente.apellidos}}</p>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"> para: {{pedido2.para}}</h5>
                    <p class="card-text"> de: {{pedido2.de}}</p>
                    <p class="card-text"> motivo: {{pedido2.motivomotivo.nombre}}</p>
                    <p class="card-text"> Direccion de entrega: {{pedido2.direcccionEntrega}}</p>
                    <p class="card-text"> Valor del ramo: {{pedido2.valor}}</p>
                    <p class="card-text"> Valor del domicilio: {{pedido2.valorDomicilio}}</p>
                    <p class="card-text"> Telefono de entrega: {{pedido2.telefonoEntrega}}</p>
                    <p class="card-text"> Fecha de Cobro: {{pedido2.fechaCobro.timestamp * 1000 | date:'dd/MM/yyyy' }}</p>
                    <p class="card-text"> Direccion de Cobro: {{pedido2.direccionCobro}}</p>
                    <p class="card-text"> Telefono de Cobro: {{pedido2.telefonoCobro}}</p>
                    <p class="card-text"> Comentario: {{pedido2.comentario}}</p>
                  </div>
                </div>
              </div>
            </div>
  				</div>
			</div>
		</div>
	</div>
  <div class="clearfix"></div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
            <a class="page-link" [routerLink]="['/pedido/porpagar', pagePrev]" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
            </a>
        </li>
        <li *ngFor="let page of pages" class="page-item">
          <a class="page-link" [routerLink]="['/pedido/porpagar', page + 1]">{{page + 1}}</a>
        </li>
        <li class="page-item">
            <a class="page-link" [routerLink]="['/pedido/porpagar', pageNext]" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
        </li>
      </ul>
</nav>
</div>
